<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home page</title>
    </head>

    <body>
        <h1> Home page</h1>
        <p> Hello! Welcome</p>
        <p> This site shows the the wordl response to covid 19 vaccination
            To navigate to the data sets and analysis, select from the menu below:
        </p>
        <button type="button" class="btn btn-primary" onclick="world_summary()">World summary</button>
        <script>
            function world_summary(){
                
            }
        </script>
        <button type="button" class="btn btn-secondary">Global View</button>
        <button type="button" class="btn btn-success">Data Sources</button>
    </body>

</html>